body {
  color: #7074f7;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  background-color: #fff;
}
p {
  color: black;
}
h1 {
  font-weight: bold;
}

section{
  position: relative;
}

.menuItems{
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
}

a{
  color: #12265a;
  font-weight: 900;
  text-decoration: none;
}

.menuItems a{
  padding: 0 10px;
  margin:0 12px;
  color: #12265a;
  font-weight: 900;
}

.menu-logo .navbar-brand{
  display: flex;
  padding-bottom: 5px;
  padding-top: 5px;
}

.menu-logo img{
  height: 100px;
}

.navbar-logo{
  margin-right: 15px;
}

.section-title{
  font-weight: 900;
  font-size: 20px;
  font-style: normal;
  line-height: 1.1;
  color: #12265a;
  margin-bottom: 0;
}

.section-subtitle{
  color: #fa9db7;
  line-height: 1.3;
}

#navigationBar .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* aboutus */
#aboutUs{
  padding-top: 45px;
  padding-bottom: 75px;
}

#aboutUs img{
  height: 350px;
  border-radius: 30px;

}

#aboutUs .content{
margin: auto;

}

/* #aboutUs .col-2{
  float: left;
  width: 45%;
  margin: 5px;
  padding: 10px;
} */

#aboutUs .section-title{
  font-weight: 500;
}

#aboutUs .section-text {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  font-weight: 300;
}

.row{
  display: flex;
  justify-content: space-around;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.col-2{
  flex-basis: 50%;
}

.display-1{
  font-size: 45px;
  font-weight: 900;
}

.display-2{
  font-size: 23px;
  font-weight: 400;
  line-height: 2;

}

.button{
  font-weight: 900;
  font-style: normal;
  align-items: center;
  justify-content: center;
}

#aboutUs .btn-background{

  background-color: #ffc85b;
  border-color: #ffc85b;
  color: #ffffff;
  border-radius: 30px;
}

/* products type */
#productsType{
  background-color: #ffdd98;
  padding: 20px;
}

.col-3{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 30px;
  align-items: center;
  padding: 10px;
  margin: 20px;
  border: none;
}

#productsType .box{
  display: flex;
  align-items:center;
  justify-content: center;
  width: 100%;
}

#productsType .icon-1{
  background-color: #45b3df;
}